*{padding: 0;margin: 0;}
ul , li {list-style: none;}
a { text-decoration: none;}

.section {width: 800px;height: 700px;margin: 0 auto;}
.title_box {text-align: center;}

.box {width: 400px;height: 800px;margin: 70px auto;}
.box input[placeholder]{font-size: 15px;}
.box > p {text-align: center;}
.box button {margin-top: 50px;width: 100%;height: 50px;border: none;background-color: black;color: white;font-size: 20px;border-radius: 12px;cursor: pointer;}

.box2 {width: 100%;border-bottom: 1px #777 solid;margin-top: 50px;}
.box2 p {margin-bottom: 10px;}
.box2 input {border: none;width: 100%;}
.box2 input:focus { outline: none;}



